<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Render Props</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="ex1"></div>

    <script type="text/babel">
      // Мы можем передавать функцию в качестве пропа
      // Компонент может вызывать эту функцию внутри себя
      // Благодаря этому мы можем инкапсулировать какую-то логику в компоненте
      // и далее в коде просить этот компонент отрисовать результат с помощью
      // других компонентов.
      // Определение.
      // render-prop - функция, которая сообщает компоненту что необходимо отрендерить

      // Например
      // Компонент <Mouse> инкапсулирует поведение, которое нам необходимо
      class Mouse extends React.Component {
        constructor(props) {
          super(props);
          this.handleMouseMove = this.handleMouseMove.bind(this);
          this.state = { x: 0, y: 0 };
        }

        handleMouseMove(event) {
          this.setState({
            x: event.clientX,
            y: event.clientY,
          });
        }

        render() {
          return (
            <div style={{ height: "100vh" }} onMouseMove={this.handleMouseMove}>
              {this.props.renderChildren({ x: this.state.x, y: this.state.y })}
            </div>
          );
        }
      }

      class MouseTracker extends React.Component {
        render() {
          return (
            <>
              <h1>Перемещайте курсор мыши!</h1>
              <Mouse
                renderChildren={(data) => (
                  <p>
                    Текущее положение курсора мыши: ({data.x}, {data.y})
                  </p>
                )}
              />
            </>
          );
        }
      }

      ReactDOM.render(<MouseTracker />, document.getElementById("ex1"));
    </script>
  </body>
</html>
