<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="ex1"></div>
    <div id="ex2"></div>
    <div id="ex3"></div>
    <div id="ex4"></div>
    <div id="ex5"></div>
    <div id="ex6"></div>
    <div id="ex7"></div>
    <div id="ex8"></div>

    <script type="text/babel">
      // Встраивание выражений
      const name = "ReactJS";
      const jsx = (
        <div>
          <h1>{name}</h1>
        </div>
      );
      ReactDOM.render(jsx, document.getElementById("ex1"));

      // JSX - это тоже выражение
      const user = { name: "John" };
      const greet = (user) => {
        if (user) {
          return <h1>Здравствуй, {user.name}</h1>;
        }
        return <h1>Здравствуй, незнакомец!</h1>;
      };
      ReactDOM.render(greet(user), document.getElementById("ex2"));

      // Самозакрывающиеся теги
      const selfClosing = <div />;

      // Атрибуты в camelCase и вставка выражений в атрибуты, значения атрибутов в виде строк
      const isRed = true;
      const attrsExample = (
        <div className="wrapper" style={{ color: isRed ? "red" : "white" }}>
          Content
        </div>
      );

      // Запись через точку
      const MyComponent = {
        DatePicker: (props) => {
          return (
            <div
              style={{
                width: "100px",
                height: "100px",
                color: "white",
                backgroundColor: props.color,
              }}
            >
              Выбор даты, цвет: {props.color}
            </div>
          );
        },
      };
      ReactDOM.render(
        <MyComponent.DatePicker color="blue" />,
        document.getElementById("ex3")
      );

      // ...props трюк
      const props = { name: "Иван", lastName: "Иванов" };
      const App = ({ name, lastName }) => {
        return <div>fullName: {`${name} ${lastName}`}</div>;
      };

      ReactDOM.render(<App {...props} />, document.getElementById("ex4"));

      // дочерними элемемнтами могут быть
      // 1. Строки
      // 2. {выражение}
      // 3. Другие компоненты или элементы
      // Можно даже так, что интересно!

      // Вызывает колбэк numTimes раз для создания повторяющего компонента
      function Repeat(props) {
        let items = [];
        for (let i = 0; i < props.numTimes; i++) {
          items.push(props.children(i));
        }
        return <div>{items}</div>;
      }

      function ListOfTenThings() {
        return (
          <Repeat numTimes={10}>
            {(index) => (
              <div key={index}>Это элемент списка с ключом {index}</div>
            )}
          </Repeat>
        );
      }

      ReactDOM.render(<ListOfTenThings />, document.getElementById("ex5"));

      // Условный рендеринг
      function UserGreeting(props) {
        return <h1>С возвращением!</h1>;
      }

      function GuestGreeting(props) {
        return <h1>Войдите, пожалуйста.</h1>;
      }

      function Greeting(props) {
        const isLoggedIn = props.isLoggedIn;
        if (isLoggedIn) {
          return <UserGreeting />;
        }
        return <GuestGreeting />;
      }

      ReactDOM.render(
        <Greeting isLoggedIn={false} />,
        document.getElementById("ex6")
      );

      // Или можно воспользоваться оператором &&
      function Mailbox(props) {
        const unreadMessages = props.unreadMessages;
        return (
          <div>
            <h1>Здравствуйте!</h1>
            {unreadMessages.length > 0 && (
              <h2>У вас {unreadMessages.length} непрочитанных сообщений.</h2>
            )}
          </div>
        );
      }

      const messages = ["React", "Re: React", "Re:Re: React"];
      ReactDOM.render(
        <Mailbox unreadMessages={messages} />,
        document.getElementById("ex7")
      );

      // Или можно использовать тернарный оператор (который являяется выражением)
      function Button(props) {
        const colors = {
          red: "#ff1744",
          green: "#00c853",
        };
        const defaultColor = "#e0e0e0";
        return (
          <button
            style={{
              backgroundColor:
                props.color in colors ? props.color : defaultColor,
            }}
          >
            Button
          </button>
        );
      }

      ReactDOM.render(
        <div>
          <Button color="green" />
          <Button />
        </div>,
        document.getElementById("ex8")
      );
    </script>
  </body>
</html>
