<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>useContext</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="ex1"></div>

    <script type="text/babel">
      // специальный хук для работы с контекстом

      const themes = {
        light: {
          foreground: "#000000",
          background: "#eeeeee",
        },
        dark: {
          foreground: "#ffffff",
          background: "#222222",
        },
      };

      const ThemeContext = React.createContext(themes.light);

      function App() {
        return (
          <ThemeContext.Provider value={themes.dark}>
            <Toolbar />
          </ThemeContext.Provider>
        );
      }

      function Toolbar(props) {
        return (
          <div>
            <ThemedButton />
          </div>
        );
      }

      function ThemedButton() {
        const theme = React.useContext(ThemeContext);
        return (
          <button
            style={{ background: theme.background, color: theme.foreground }}
          >
            Я стилизован темой из контекста!
          </button>
        );
      }

      ReactDOM.render(<App />, document.getElementById("ex1"));
    </script>
  </body>
</html>
