<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Custom Hooks</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="ex1"></div>

    <script type="text/babel">
      // На основе стандартных хуков мы можем создавать свои собственные
      // Хуки инкапсулируют логику изменения состояния

      const random = () => Math.floor(Math.random() * 10);

      const ChatAPI = {
        subscribeToFriendStatus(id, cb) {
          const isOnline = random() > 5;
          cb({ isOnline });
        },
        unsubscribeFromFriendStatus(id, cb) {
          cb({ isOnline: false });
        },
      };

      function useFriendStatus(friendID) {
        const [isOnline, setIsOnline] = React.useState(null);

        React.useEffect(() => {
          function handleStatusChange(status) {
            setIsOnline(status.isOnline);
          }

          ChatAPI.subscribeToFriendStatus(friendID, handleStatusChange);
          return () => {
            ChatAPI.unsubscribeFromFriendStatus(friendID, handleStatusChange);
          };
        });

        return isOnline;
      }

      // Теперь мы можем использовать эту логику изменения
      // состояния в этом компоненте
      function FriendStatus(props) {
        const isOnline = useFriendStatus(props.friend.id);

        if (isOnline === null) {
          return "Загрузка...";
        }
        return isOnline ? "В сети" : "Не в сети";
      }

      // И в этом компоненте
      function FriendListItem(props) {
        const isOnline = useFriendStatus(props.friend.id);

        return (
          <li style={{ color: isOnline ? "green" : "black" }}>
            {props.friend.name}
          </li>
        );
      }

      const users = [
        {
          id: 1,
          name: "Ivan",
        },
        {
          id: 2,
          name: "Vasilisa",
        },
        {
          id: 3,
          name: "Petr",
        },
      ];

      ReactDOM.render(
        <>
          <ul>
            {users.map((user) => (
              <FriendListItem friend={user} key={user.id} />
            ))}
          </ul>
        </>,
        document.getElementById("ex1")
      );
    </script>
  </body>
</html>
