<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Context</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="ex1"></div>

    <script type="text/babel">
      // Контекст позволяет передавать данные через дерево компонентов без
      // необходимости передавать пропсы на промежуточных уровнях. Это бывает полезно
      // при работе с темами, локалью или прочими глобальными данными.
      // Но мне кажется, что контекст увеличивает зацепление компонентов, и это плохо!

      // Контекст позволяет передавать значение глубоко
      // в дерево компонентов без явной передачи пропсов
      // на каждом уровне. Создадим контекст для текущей
      // UI-темы (со значением "light" по умолчанию).
      const ThemeContext = React.createContext("light");

      class App extends React.Component {
        constructor(props) {
          super(props);

          this.toggleTheme = () => {
            this.setState((state) => ({
              theme: state.theme === "dark" ? "light" : "dark",
            }));
          };
          this.state = { theme: "light", toggleTheme: this.toggleTheme };
        }

        render() {
          // Компонент Provider используется для передачи текущей
          // UI-темы вниз по дереву компонентов
          return (
            <>
              <button onClick={() => this.toggleTheme()}>toggle theme</button>
              <ThemeContext.Provider value={this.state}>
                <Toolbar />
              </ThemeContext.Provider>
            </>
          );
        }
      }

      // Компонент, который находится в середине, больше не передает тему через пропсы вниз
      function Toolbar() {
        return (
          <div>
            <ThemedButton />
          </div>
        );
      }

      function Button(props) {
        return (
          <ThemeContext.Consumer>
            // Если нужно менять контекст из глубоко вложенного компонента //
            можно передать в контекст функцию, которая при вызове будет //
            изменять контекст.
            {({ theme, toggleTheme }) => (
              <button
                style={{
                  backgroundColor: theme === "dark" ? "black" : "white",
                }}
                onClick={toggleTheme}
              >
                button
              </button>
            )}
          </ThemeContext.Consumer>
        );
      }

      class ThemedButton extends React.Component {
        // Определяем contextType, чтобы получить значение контекста.
        // React найдёт (выше по дереву) ближайший Provider-компонент,
        // предоставляющий этот контекст, и использует его значение.
        // В этом примере значение UI-темы будет "dark".
        static contextType = ThemeContext;

        render() {
          return <Button theme={this.context.theme} />;
        }
      }

      ReactDOM.render(<App />, document.getElementById("ex1"));
    </script>
  </body>
</html>
